<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
  </configSections>
  
  <MsmqTransportConfig InputQueue="music_store_commands" ErrorQueue="nservicebus_error" NumberOfWorkerThreads="1" MaxRetries="2"/>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=C:\dev\git\blog\MvcMusicStore-v0.8\Source\MvcMusicStore\App_Data\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="MusicStoreEntities" connectionString="metadata=res://Models/StoreDB.csdl|res://Models/StoreDB.ssdl|res://Models/StoreDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\dev\git\blog\MvcMusicStore-v0.8\Source\MvcMusicStore\App_Data\MvcMusicStore.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>