<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumberOfWorkerThreads" value="1"/>
    <!-- queue that the distributor process reads and feeds to workers -->
    <add key="DataInputQueue" value="nservicebus_distributor_data_bus"/>
    <!--queue that manages work distribution -->
    <add key="ControlInputQueue" value="nservicebus_distributor_control_bus"/>
    <!-- errors -->
    <add key="ErrorQueue" value="nservicebus_error"/>
    <!-- queue that maintains the state(availability) of the workers -->
    <add key="StorageQueue" value="nservicebus_distributor_storage"/>
    
    <add key="NameSpace" value="http://www.UdiDahan.com"/> 
    <!-- relevant for a Serialization of "interfaces" or "xml" -->
    
    <add key="Serialization" value="xml"/>
    <!-- can be either "xml", or "binary" -->
  </appSettings>
</configuration>