<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <!-- in order to configure remote endpoints use the format: "queue@machine" 
       input queue must be on the same machine as the process feeding off of it.
       error queue can (and often should) be on a different machine.
  -->

  <MsmqTransportConfig InputQueue="nservicebus_distributor_worker2" ErrorQueue="nservicebus_error" NumberOfWorkerThreads="1" MaxRetries="5"/>

  <Logging Threshold="WARN"/>
  
  <UnicastBusConfig DistributorControlAddress="nservicebus_distributor_control_bus" DistributorDataAddress="nservicebus_distributor_data_bus">
    <MessageEndpointMappings>
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\logs\worker2.log"/>
        <add name="consoleTraceListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
